
.toy-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $clr2bg-light;
    padding: 0.7em;
    border-radius: 0.5em;
}

.toy-preview .toy-name {
    font-size: 1.4rem;
  }
  
  .toy-preview img {
    max-height: 220px;
  }
  
  .skeleton-loader {
    width: 220px;
    height: 220px;
    background: linear-gradient(90deg, #ddd 25%, #eee 50%, #ddd 75%);
    background-size: 200% 100%;
    animation: shimmer-loading 1.5s infinite linear;
  }
  
  @keyframes shimmer-loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }