.toy-msg {
    padding: 50px;
    .custom-button {
        // display:flex;
        // justify-content: space-around;
        // align-items: center;
       
        background-color: $clr2;
        padding: 6px 12px;
        font-size: 0.75rem;
        height: 35px;
        color: black;
        border-radius: 4px;
        margin-top: 20px;
        margin-left: 20px;
        

        &:hover {
            background-color: $clr2bg-light;
            color: rgb(245, 238, 238);
        }

    }
}