$clr1: #7ae5e7;
$clr2: #db655a;

$clr1bg: #c3eddf;
$clr1bg-light: #c1dbf1;
$clr2bg: #df4917;
$clr2bg-light: #f08e75e6;
// $clr3bg-light: #efcec6e6;
$clr3bg-light: #f5c0b2e6;
$clr4bg-light: antiquewhite;




$gray1: rgb(240, 240, 240);
$gray2: rgb(155, 155, 155);
$gray3: rgb(44, 44, 44);





/*
// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2; */