:root {
    --clr1: #7ae5e7;
    --clr2: #db655a;
  
    --clr1bg: #c3eddf;
    --clr1bg-light: #c1dbf1;
    --clr2bg: #c53c0f;
    --clr2bg-light: #fb704de6;
  
    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);
  
  } 